//* Цвет основного текста #212121 */
//* Цвет вторичного текста #757575 */
//* Белый цвет #ffffff */
//* Акцент #2196F3 */
//* Цвет logo studio #000000 */
//* Цвет web studio #2196F3 */

$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$buttonBgColor: #f5f4fa;
$footerBgColor: #2f303a;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
